* {
	font-family: arial;
}

#storylistdetail {
	font-size: 20px;
	margin-left: 36px;
}

#storylist {
	border-radius: 10px;
	margin: 24px;
}

#userstoryoptiondiv {
	display: none;
	float: right;
}

#pagenumber {
	margin: 10px;
	padding: 1px;
	color: blue;
}

.wrapper {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 6px;
	width: 70%;
	margin-top: 8px;
}

.topic {
	color: #38f;
	width: 60%;
	margin-left: 4px;
	margin-top: 2px;
	font-size: 16px;
	font-weight: bold;
}

.topic span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.essence {
	font-size: 14px;
	float: right;
	margin-top: -38px;
	margin-right: 140px;
}

.time {
	font-size: 12px;
	float: right;
	margin-right: 124px;
	margin-top: -16px;
}

.likecountdiv {
	font-size: 14px;
	float: right;
	margin-top: -20px;
}

.viewcountdiv {
	font-size: 14px;
	float: right;
	margin-top: -20px;
}

#title {
	font-size: 20px;
	color: #312222;
	font-weight: bold;
}

#storydiv {
	margin: 4%;
	margin-top: 50px;
}

#headingdiv {
	background: #f0f0f0;
	border-radius: 10px;
	padding: 1%;
}

#headingdiv table {
	width: 100%;
	font-size: 16px;
}

#likebtn {
	float: right;
	background: transparent;
	border: none;
	font-size: 20px;
	margin-top: -4px;
}

#likebtn:active {
	
}

#publisherspan {
	color: #38f;
}

#additionaloptionsdiv{
	    margin: 16px;
}

#updatetimediv {
	    text-align: center;
    margin-top: 10px;
}

#content {
	margin-bottom: 60px;
	margin-top: 30px;
}

.commentblock {
	margin: 1%;
	background: #eee;
	border-radius: 10px;
	padding: 1%;
}

.cmtuser {
	font-size: 14px;
	color: #7af;
}

.cmttime {
	text-align: right;
	margin-top: -16px;
	font-size: 14px;
}

.comment {
	margin-top: 6px;
	font-size: 14px;
}

#conmmentput {
	width: 95%;
	margin-left: 18px;
	margin-top: 6px;
}

#commentbox {
	border-top-color: #777;
	border-top: thin solid;
	padding-top: 30px;
}

#commentsub {
	margin-left: 18px;
	margin-top: 18px;
	font-size: 12px;
	padding: 2px;
	border-radius: 6px;
}

.backbtn {
	background: transparent;
	border: transparent;
	font-size: 18px;
}

.editbtn {
	color: blue;
	font-size: 12px;
	text-decoration: underline;
	float: right;
	margin-right: 11px;
}

.deletebtn {
	color: blue;
	font-size: 12px;
	text-decoration: underline;
	float: right;
}

.cmtdeletebtn {
	color: blue;
	font-size: 12px;
	text-decoration: underline;
	float: right;
	margin-top: -8px;
}

#subs-gen {
	display: none;
}

.storyblock {
	border-radius: 10px;
	background-color: #F0F0F0;
	width: 70%;
	padding: 10px;
	margin: 12px;
}

.storyblock:hover {
	background-color: #cdcdcd;
}

.topnav {
	background-color: #38f;
	border-radius: 10px;
	height: 30px;
	margin-top: 1%;
	color: white;
	padding: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}

#homebtn {
	background: none;
	border: none;
	color: white;
	font-size: 22px;
}

#userdrop {
	float: right;
}

#userdropcontent {
	background: #8d8b8b;
}

#composediv {
	padding: 10px;
	margin: 12px;
	margin-top: 4px;
}

#publishbuttondiv {
    text-align: center;
}

#compose , #compose:active{
	background-color: #eee;
	float: right;
	color: black;
	text-align: center;
	padding: 6px;
	font-size: 14px;
	margin-right: 2%;
	margin-top: -4px;
	    border: none;
    border-radius: 4px;
}

#compose:hover, #searchit:hover {
	background-color: #ddd;
}

#search {
	float: right;
	padding: 6px;
	margin-top: -4px;
	font-size: 17px;
	border: none;
}

#searchit {
	background-color: #eee;
	color: black;
	float: right;
	padding: 8px 10px;
	margin-top: -4px;
	margin-right: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

#useroption {
	border: none;
	background: transparent;
	color: white;
	font-size: 14px;
	float: right;
}

#useroption table {
	color: black;
	font-size: 12px;
	font-weight: normal;
	border: 2px black;
	background-color: white;
	display: none;
	padding: 4px;
}

#useroption table td:hover {
	background-color: #ddd;
}

#editordiv {
	
}

#editordiv #title {
	border: none;
	width: 100%;
}

#editordiv #title.focus {
	border: none;
}

#editordiv #fullContainer {
	border-radius: 10px;
	margin: 12px;
	background: #efefef;
	padding: 28px;
}

#editerdetail {
	font-size: 20px;
	margin-left: 6px;
}

#inserttitle {
    width: 1118px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	background-color: white !important;
	padding: 6px;
}

#editordiv #editor {
	height: 300px;
	background: white;
}

.ql-tooltip, .ql-hidden {
	display: none;
}

.ql-editor img {
	width: 150px;
	height: 200px;
}